<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>商品参照</title>
  <!-- 個別CSS読込 -->
  <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
  商品参照画面です。
  </br>

  <!-- ↓formでも改行しない方法-->

  &nbsp;&nbsp;&nbsp;&nbsp;
  <form method="post" th:action=${#strings.prepend(PRODUCT_LIST_NAME,'/')} >
    <button class="btn btn-primary" type="submit" th:name="${PARAM_PRODUCT_LIST}">
      商品一覧へ戻る
    </button>
  </form>

</div>


</body>
</html>