<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>商品編集完了画面</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
<body>

<div class="text-center">
    商品編集完了しました。


    <form method="post" th:action=${#strings.prepend(PRODUCT_LIST_NAME,'/')} class="form-control">
            <button class="btn btn-primary" type="submit" th:name="${PARAM_PRODUCT_LIST}">
                商品一覧に戻る
            </button>
    </form>
</div>


</body>
</html>