<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>商品参照</title>
  <!-- 個別CSS読込 -->
  <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
  商品参照画面です。

  <!-- ↓formでも改行しない方法-->
  <form method="post" action="/product/product_list"　 th:object="${productListForm}" >

    </br>
      商品名
      <div><p th:text = "*{name}"></p></div>
      価格
      <div><p th:text = "*{price}"></p></div>
      画像
    <div>
      <ul>
<!--        <img height="200" th:src="${file}" th:text="${file}" width="200"/>-->
        &nbsp;&nbsp;&nbsp;&nbsp;<img th:src="${file}"/>
      </ul>

    </div>
    <button class="btn btn-primary" type="submit" name="PARAM_PRODUCT_LIST">
      商品一覧へ戻る
    </button>
  </form>
</div>
</body>
</html>