<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>商品一覧</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<div class="text-center">
    商品一覧画面です。
    </br>
    <form method="post" th:action=${#strings.prepend(PRODUCT_LIST_NAME,'/')} class="form-control" th:object="${staffListForm}">
<!--        <div>-->
<!--            <table class="table table-sm">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>選択 </th>-->
<!--                    <th>id </th>-->
<!--                    <th>名前</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="item: ${staffList}">-->
<!--                    <td> <input type="radio" name="radio" th:value="${item.id}"></td>-->
<!--                    <td th:text ="${item.id}"></td>-->
<!--                    <td th:text ="${item.name}">f</td>-->
<!--                </tr>>-->
<!--                </tbody>>-->
<!--            </table>-->
<!--        </div>-->
<!--        <div th:text=${#strings.prepend(STAFF_ADD_NAME,'/')}></div>-->
<!--        <div th:text="${STAFF_ADD_NAME}"></div>-->

        <div style="display:inline-flex">
            <button class="btn btn-primary" type="submit" th:name="${PARAM_PRODUCT_LIST_TO_REFERENCE}">
                参照
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" type="submit" th:name="${PARAM_PRODUCT_LIST_TO_ADD}">
                追加
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" type="submit" th:name="${PARAM_PRODUCT_LIST_TO_EDIT}">
                編集
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" type="submit" th:name="${PARAM_PRODUCT_LIST_TO_DELETE}">
                削除
            </button>


        </div>
    </form>
</div>


</body>
</html>