<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>商品追加画面</title>
  <!-- 個別CSS読込 -->
  <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
<body>

<div class="text-center">
  商品追加画面です。

  <!-- ↓formでも改行しない方法-->

  <form method="post" action="/product/product_add_check" enctype="multipart/form-data" class="form-control" th:object="${productListForm}">
    <div class="mb-6">
      商品名</br>
      <div class="row justify-content-center">
        <div class="row">
          <div class="col-xs-3">
            <input type ="text" th:field= "*{name}" class="form-control" th:errorclass="is-invalid"><br />
            <td class="invalid-feedback" th:errors="*{name}">Name Error</td>
            価格</br>
            <input type ="text"  th:field = "*{price}"class="form-control" th:errorclass="is-invalid"><br />
            <td class="invalid-feedback" th:errors="*{price}">Price Error</td>
            画像</br>
            <input type ="file"  th:field = "*{file}"><br />
<!--            <a th:href="*{file}" th:text="*{file}" />-->
            <a th:href="*{file}" />
          </div>
        </div>
      </div>
    </div>

    <div style="display:inline-flex">
      <button class="btn btn-primary" type="submit" name="PARAM_PRODUCT_ADD_TO_CHECK">
        OK
      </button>
  </form>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <form method="post" action="/product/product_list" >
    <button class="btn btn-primary" type="submit" name="PARAM_PRODUCT_LIST">
      戻る
    </button>
  </form>

</div>


</body>
</html>