<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スタッフ一覧</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
    スタッフ削除画面です。
    </br>

    <!-- ↓formでも改行しない方法-->

    <form method="post" th:action=${#strings.prepend(STAFF_DELETE_DONE_NAME,'/')} th:object="${StaffListForm}">
        名前：<div th:text="${name}"></div>
        <input type ="hidden" name ="id" th:value="${id}">

        <!--    <form method="post" th:action="${STAFF_ADD_CHECK_NAME}">-->
        <div style="display:inline-flex">
            <button class="btn btn-primary" type="submit" th:name="${PARAM_STAFF_DELETE_TO_DONE}">
                OK
            </button>
    </form>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <form method="post" th:action=${#strings.prepend(STAFF_LIST_NAME,'/')} >
        <button class="btn btn-primary" type="submit" th:name="${PARAM_STAFF_DELETE_BACK}">
            戻る
        </button>
    </form>

</div>


</body>
</html>