<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スタッフ追加確認</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
    スタッフ追加確認画面です。
    </br>
    <div th:text ="${name}" class="form-control" ></div> </br>
    <div style="display:inline-flex">
        <form method="post" th:action=${#strings.prepend(STAFF_ADD_DONE_NAME,'/')} class="form-control" th:object="${StaffListForm}">
            <input type ="hidden" name ="name" th:value="${name}">
            <input type ="hidden" name ="password" th:value="${password}">

<!--        <form method="post" th:action="${STAFF_ADD_DONE_NAME}">-->

            <button class="btn btn-primary" type="submit" th:name="${PARAM_STAFF_CHECK_TO_DONE}">
                OK
            </button>
        </form>
        <form method="post" th:action=${#strings.prepend(STAFF_ADD_NAME,'/')}>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" type="submit" th:name="${PARAM_STAFF_CHECK_BACK}">
                戻る
            </button>
        </form>

    </div>
</div>


</body>
</html>