
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スタッフ参照画面</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
<body>

<div class="text-center">
    スタッフ参照画面です。
    <br>

        スタッフ情報
    <form action="/staff/staff_list" method="post" th:object="${StaffListForm}">
        <div> ID： <a th:text="${id}" name ="${id}"></a></div>
          <div> 名前： <a th:text ="${name}"></a></div>
        <button class="btn btn-primary" type="submit" th:name="PARAM_STAFF_LIST">
            戻る
        </button>
    </form>
</div>



</body>
</html>