<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スタッフ一覧</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
    スタッフ追加画面です。
    </br>

    <div class="mb-6">
        </br>スタッフ名</br>
        <div class="row justify-content-center">
        <div class="row">
        <div class="col-xs-3">
        <input type ="text" name="title" class="form-control" ><br />

        パスワード</br>

    <input type ="password" name="pass" class="form-control"><br />

        </div>
        </div>
    </div>
    </div>


    <!-- ↓formでも改行しない方法-->
    <div style="display:inline-flex">
    <form method="post" action="/staff_check">
        <button class="btn btn-primary" type="submit" name="fromList">
            OK
        </button>
    </form>
        &nbsp;&nbsp;&nbsp;&nbsp;
    <form method="post" action="/staff_back">
        <button class="btn btn-primary" type="submit" name="back">
            戻る
        </button>
    </form>
        <div>
</div>


</body>
</html>