<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スタッフ編集画面</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
    スタッフ編集画面です。
    </br>

    <form method="post" th:action=${#strings.prepend(STAFF_EDIT_CHECK_NAME,'/')}>
        <div class="mb-6">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-xs-3">
                        </br>名前</br>
                        <input type="text" field="name" th:value="${name}" class="form-control"> </br>
                        パスワード</br>
                        <input type ="password" name="password" th:value="${password}" class="form-control"></br>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:inline-flex">
            <button class="btn btn-primary" type="submit" th:name="${PARAM_STAFF_EDIT_TO_CHECK}">
                OK
            </button>
    </form>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <form method="post" action="action">
            <button class="btn btn-primary" type="submit" th:name="${PARAM_STAFF_ADD_BACK}">
                戻る
            </button>

    </form>


        </div>

</div>








</body>
</html>