<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スタッフ追加完了</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
    スタッフ追加完了画面です。
    </br>

    <div style="display:inline-flex">

<!--        <form method="post"  action=${#strings.prepend(STAFF_LIST_NAME,'/')}>-->
<!--            &nbsp;&nbsp;&nbsp;&nbsp;-->
<!--            <button class="btn btn-primary" type="submit" name="${PARAM_STAFF_EDIT_DONE_BACK}">-->
<!--                スタッフ一覧に戻る-->
<!--            </button>-->
<!--        </form>-->

    </div>
</div>


</body>
</html>