<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.repository.ECShopMapper">
    <!-- マッピング定義(ユーザー) -->
    <resultMap type="com.example.demo.domain.model.MStaff" id="staff">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
    </resultMap>

    <!-- スタッフ複数件表示 -->
    <select id="staffFindMany" resultType="com.example.demo.domain.model.MStaff">
        select
        *
        from
        m_staff
    </select>
    <!-- スタッフ1件追加 -->
    <insert id="staffInsertOne">
        insert into m_staff(
          id
        , name
        , password
        )
        values (
          #{id}
        , #{name}
        , #{password}
        )
    </insert>

    <!-- スタッフ１件の情報を取得   -->
    <select id="staffFindOne" resultType="com.example.demo.domain.model.MStaff">
        select
            *
        from
        m_staff
            where
                id = #{id}
    </select>


    <!-- スタッフ１件の更新 -->
    <update id="staffUpdate">
    update
        m_staff
    set
        name = #{name}
    ,   password = #{password}
    where
        id = #{id}
    </update>

    <!-- スタッフ１件削除 -->
    <delete id="staffDelete">
        delete from
            m_staff
        where
            id = #{id}
    </delete>

    <!-- マッピング定義(商品) -->
    <resultMap type="com.example.demo.domain.model.MStaff" id="product">
        <id column="code" property="code" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="gazou" property="gazou" />
    </resultMap>

    <!-- 商品複数件表示 -->
    <select id="productFindMany" resultType="com.example.demo.domain.model.MProduct">
        select
        *
        from
        m_product
    </select>
    <!-- 商品1件追加 -->
    <insert id="productInsertOne">
        insert into m_product(
        code
        , name
        , price
        , gazou
        )
        values (
        #{code}
        , #{name}
        , #{price}
        , #{gazou}
        )
    </insert>

    <!-- 商品１件の情報を取得   -->
    <select id="productFindOne" resultType="com.example.demo.domain.model.MProduct">
        select
        *
        from
        m_product
        where
        code = #{code}
    </select>


    <!-- 商品１件の更新 -->
    <update id="productUpdate">
        update
        m_product
        set
              name = #{name}
        ,   price = #{price}
        ,   gazou = #{gazou}
        where
        code = #{code}
    </update>

    <!-- 商品１件削除 -->
    <delete id="productDelete">
        delete from
        m_product
        where
        code = #{code}
    </delete>

</mapper>