<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.repository.ECShopMapper">
    <!-- マッピング定義(ユーザー) -->
    <resultMap type="com.example.demo.domain.model.MStaff" id="staff">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
    </resultMap>

    <!-- スタッフ複数件表示 -->
    <select id="staffFindMany" resultType="com.example.demo.domain.model.MStaff">
        select
        *
        from
        m_staff
    </select>
    <!-- スタッフ1件追加 -->
    <insert id="staffInsertOne">
        insert into m_staff(
          id
        , name
        , password
        )
        values (
          #{id}
        , #{name}
        , #{password}
        )
    </insert>

    <!-- スタッフ１件の情報を取得   -->
    <select id="staffFindOne" resultType="com.example.demo.domain.model.MStaff">
        select
            *
        from
        m_staff
            where
                id = #{id}
    </select>


    <!-- スタッフ１件の更新 -->
    <update id="staffUpdate">
    update
        m_staff
    set
        name = #{name}
    ,   password = #{password}
    where
        id = #{id}
    </update>

    <!-- スタッフ１件削除 -->
    <delete id="staffDelete">
        delete from
            m_staff
        where
            id = #{id}
    </delete>

</mapper>