<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>カート商品一覧</title>
    <!-- 個別CSS読込 -->
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet" >

</head>
</head>
<body>

<div class="text-center">
    商品詳細画面です。
    </br>


    <form method="post" action="/shop/shop_cartin" class="form-control" th:object="${productListForm}">
        <a  text="aaaa" href="/shop/shop_cartin">カートに入れる </a>
        商品コード
        <p th:text="*{code}" ></p>
        商品名
        <p th:text="*{name}" ></p>
        価格
        <p th:text="*{price}" ></p>
        画像
        <p th:text="*{name}" ></p>
        <input type ="hidden" name ="code" th:value="*{code}">
            <button class="btn btn-primary" type="submit" th:name="cart">
                カートに入れる
            </button>
</div>
    </form>
</div>


</body>
</html>